.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.icon {
  display: block;
  text-indent: 32px;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}

.i-search {
  background: url(../img/icons/i-search.svg);
}

.i-shop {
  background: url(../img/icons/i-shop.svg);
}

.i-login {
  background: url(../img/icons/i-login.svg);
}

.i-facebook {
  background: url(../img/icons/i-facebook.svg);
}

.i-instagram {
  background: url(../img/icons/i-instagram.svg);
}

.i-vk {
  background: url(../img/icons/i-vk.svg);
}

.i-twitter {
  background: url(../img/icons/i-twitter.svg);
}

.i-heart {
  background: url(../img/icons/i-heart.svg);
}