:root {
  --padua: #849d8f;
  --blue-bayoux: #9d8b84;
  --bali-hai: #8996a6;
  --ford-dark-charcoal: #323232;
  --floral-white: #f8f7f4;
  --white: #ffffff;
  --input-border-color: #d3d3d2;
  --black: black;
  --background-gray: rgba(255, 255, 255, 0.2);
  --mandys-pink: #ffbc9e;
  --button-box-shadow-color: rgba(172, 16, 0, 0.64);
  --button-background-gradient-main: #f26843;
  --button-background-gradient-second: #e74a35;
  --cinnabar: #e84d37;
  --main-menu-active: #d07058;
  --very-dark-gray: #5a5a5a;
  --slider-hover: rgba(255, 255, 255, 0.4);
  --menu-item-border: rgba(50, 50, 50, 0.2);
  --menu-item-hover: #fbded7;
  --menu-item-current: #f6b5a5;
  --input-active: rgba(46, 136, 228, 0.52);
  --snow: #f9f9f9;
  --slider-background-gradient: rgba(215, 242, 227, 1);
  --slider-background: rgba(255, 255, 255, 0.75);
  --form-box-shadow: rgba(0, 0, 0, 0.4);
  --shopping-basket-border: #cacac7;
  --catalog-item-hover-bg: rgba(0, 0, 0, 0.2);
  --slider-track: rgba(248, 247, 244, 0.5);
}

body {
  width: 1200px;
  margin: auto;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 229px 324px 306px 220px;
  gap: 40px 1px;
  padding: 10px 27px 0 27px;
}

.main-background-padua {
  background-color: var(--padua);
}

.main-background-blue-bayoux {
  background-color: var(--blue-bayoux);
}

.main-background-bali-hai {
  background-color: var(--bali-hai);
}

.custom-input {
  background: var(--white);
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--ford-dark-charcoal);
}

fieldset {
  border: 0;
}

.custom-button {
  padding: 0;
  margin: 0;
  background: linear-gradient(
    180deg,
    var(--button-background-gradient-main) 0%,
    var(--button-background-gradient-second) 100%
  );
  box-shadow: 0 2px 2px var(--button-box-shadow-color);
  border-radius: 70px;
  border-color: transparent;
  display: inline-block;
  color: var(--white);
}

.custom-button:hover {
  background: linear-gradient(
      0deg,
      var(--background-gray),
      var(--background-gray)
    ),
    linear-gradient(
      180deg,
      var(--button-background-gradient-main) 0%,
      var(--button-background-gradient-second) 100%
    );
}

.link-decoration {
  text-decoration: underline;
  text-decoration-color: var(--background-gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
}

.link-decoration_inactive {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
}

.link__hovered-color:hover {
  color: var(--mandys-pink);
}

.link__blog-hover:hover {
  color: var(--cinnabar);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation__container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 45px;
  gap: 1px 1px;
  grid-template-areas: ". ." ". .";
  margin: 9px 27px 0 27px;
}

.header__info_number-text {
  font-size: 22px;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
  margin-bottom: 2px;
}

.header__info_work {
  align-items: flex-end;
  padding-right: 4px;
  padding-top: 10px;
}

.header__info_work-time {
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
  margin: 0 0 10px 0;
}

.header__user-navigation_upper-right {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.header__user-navigation_upper-right div:not(:last-child) {
  margin-right: 10px;
}

.header__user-navigation_container-icon {
  display: flex;
  align-content: space-between;
  height: 32px;
  background: var(--background-gray);
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
}

.header__user-navigation_container-text {
  color: var(--white);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 5px;
}

.catalog__navigation {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.catalog__navigation .catalog__navigation_item:not(:first-child) {
  margin-left: 8px;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header__right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header__left-container {
  display: flex;
  align-items: center;
}

.list__unstyled {
  list-style-type: none;
}

.list__horizonatal-item {
  display: inline;
}

.unsorted-list {
  margin: 0;
  padding: 0;
}

.header__user-navigation {
  font-size: 16px;
  line-height: 18px;
}

.header__main-navigation {
  margin-bottom: 5px;
}

.main-navigation .list__horizonatal-item {
  margin-left: 5px;
}

.main-navigation {
  padding: 0;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 0 0 10px;
}

.header__logo {
  position: relative;
  top: -1px;
}

.main-navigation__menu-item-link {
  color: var(--white);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 14px;
}

.main-navigation__menu-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
}

.main-navigation__submenu-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  white-space:nowrap;
}

.main-navigation__submenu-item:hover {
  background-color: var(--menu-item-hover);
}

.main-navigation__submenu-item_new {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  border: 1px solid var(--menu-item-border);
}

/* Submenu */

.menu-item-link__dropdown {
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--snow);
  min-width: 143px;
  z-index: 1;
  left: -8px;
  top: 30px;
}

.dropdown-content .dropdown__submenu-item {
  color: black;
  padding: 8px 21px;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown__submenu-item:hover {
  background-color: var(--menu-item-hover);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .menu-item-link__dropdown {
  text-decoration: none;
  color: var(--black);
  border-radius: 26px;
  background-color: var(--white);
}

/* Submenu */

.header__user-navigation_search_form {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--snow);
  min-width: 160px;
  z-index: 1;
}

.header__user-navigation_search {
  position: relative;
}

.header__user-navigation_search-container:hover
  .header__user-navigation_search_form {
  display: grid;
}

.header__user-navigation_search > .i-search:hover {
  background-image: url(../img/icons/i-search-black.svg);
  background-color: var(--white);
}

.search-form_input {
  width: 311px;
  height: 44px;
  left: 135px;
  top: 79px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  background: var(--white);
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.header__user-navigation_search_form {
  width: 341px;
  height: 84px;
  right: 580px;
  top: 60px;
  background: var(--floral-white);
  box-shadow: 0 20px 20px var(--form-box-shadow);
  border-radius: 4px;
}

.header__user-navigation_login-form {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 1px;
  align-items: center;
  position: absolute;
  top: 35px;
  right: 5px;
  padding: 18px 20px 22px 15px;
  background: var(--floral-white);
  box-shadow: 0 20px 20px var(--form-box-shadow);
  border-radius: 4px;
  z-index: 99999;
}

.login-form__links-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.login-form__links-container > .login-form__links:not(:first-child) {
  margin-top: 5px;
}

.login-form__down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-form_btn-submit {
  width: 103px;
  height: 44px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
}

.login-form__links {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: var(--ford-dark-charcoal);
}

.header__user-navigation_shopping-basket_not-empty {
  padding: 0 16px;
  background-color: var(--white);
}

.header__user-navigation_shopping-basket_empty{
    padding: 0 16px;  
}

.header__user-navigation_shopping-basket_not-empty
  > .header__user-navigation_container-text {
  color: var(--ford-dark-charcoal);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.header__user-navigation_shopping-basket {
  position: relative;
}

.header__user-navigation_shopping-basket:hover > .shopping-basket__form {
  display: flex;
}

.shopping-basket__form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--snow);
  z-index: 1;
  top: 40px;
  right: 0;
  padding: 18px 14px 0 20px;
}

.shopping-basket__items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 15px;
}

.shopping-basket__items-container_image {
  display: flex;
  justify-content: center;
  margin-left: 9px;
}

.shopping-basket__grid-container
  > .shopping-basket__items-container:not(:first-child) {
  margin-top: 20px;
}

.shopping-basket__list-style {
  list-style-type: none;
  padding: 0;
  align-items: flex-start;
  margin: 0 8px 2px 0;
}


.shopping-basket__list-container {
  padding: 0 0 2px 0;
  border-bottom: solid 1px;
}

.shopping-basket__item {
  align-self: center;
}

.shopping-basket__item_image {
  margin-left: 9px;
}

.shopping-basket__item_name {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin-left: 13px;
  width: 216px;
}

.shopping-basket__item_price {
  margin-left: 31px;
  white-space: nowrap;
}

.shopping-basket__item_price-total {
  margin-left: 26px;
  white-space: nowrap;
}

.shopping-basket__row-container {
  display: flex;
  flex-direction: row;
}

.shopping-basket__table-container {
  padding-bottom: 20px;
  padding-top: 5px;
}

.shopping-basket__footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 20px;
  align-self: flex-end;
}

.shopping-basket__footer_total {
  align-self: flex-end;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}

.shopping-basket__btn-remove {
  align-items: center;
  background-color: transparent;
  width: 11px;
  height: 11px;
  margin: 0;
  padding: 0;
  border: 0;
  text-indent: -1000em;
}

.shopping-basket__btn-chekout {
  width: 172px;
  height: 44px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
}

.shopping-basket__item-price {
  color: #cacac7;
}

.shopping-basket__form-container {
  padding: 12px 0;
}

.custom-input:focus {
  outline: 2px solid var(--input-active);
}

.header__user-navigation_login-container {
  position: relative;
}

.header__user-navigation_login-container:hover
  > .header__user-navigation_login-form {
  display: grid;
}

.header__user-navigation_login-form_input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  height: 44px;
  padding-left: 15px;
  width: 241px;
}

.search-form_input {
  width: 311px;
  height: 44px;
  left: 635px;
  top: 79px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  background: var(--white);
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.menu-navigation__submenu-item_current {
  background-color: var(--menu-item-current);
}

.main-navigation__menu-item-link_current-page {
  text-decoration: none;
  border-radius: 26px;
  color: var(--white);
  background-color: var(--main-menu-active);
  padding: 7px 14px;
}

.main-navigation__menu-item-link:hover {
  text-decoration: none;
  color: var(--black);
  border-radius: 26px;
  background-color: var(--white);
}

.promo__container {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 229px;
  border-radius: 16px;
  color: var(--white);
}

.promo__text {
}

.promo__discription {
  margin: 16px 0 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.promo__heading {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.promo__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5px;
  grid-column-gap: 26px;
}

.promo__block_content {
  padding-left: 16px;
  padding-right: 25px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.promo__container_raspberry {
  background-image: url(../img/crimson-bg.jpg);
  background-repeat: no-repeat;
}

.promo__container_chocolate {
  background-image: url(../img/chocolate-bg.jpg);
  background-repeat: no-repeat;
}

.promo__button {
  align-self: flex-end;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  margin-top: 42px;
  padding: 14px 20px;
}

.promo__button-text {
  padding: 0 27px;
}

.about-info__container {
  background-image: url(../img/wafer-pattern.png);
  border-radius: 16px;
  height: 306px;
}

.about-info__content-container {
  padding: 25px 20px;
}

.about-info__header-text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 5px 0 0 5px;
}

.about-info__list-item {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  word-wrap: normal;
}

.about-info__list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 10px;
  margin-top: 15px;
}

.news-blog__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 20px 0 0 0;
}

.news-blog__link {
  color: var(--ford-dark-charcoal);
  text-decoration-color: var(--ford-dark-charcoal);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.news-blog__container {
  background-image: url(../img/strawberry-bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 220px;
  left: 27px;
  top: 1626px;
  border-radius: 16px;
  padding-left: 20px;
}

.mailing-subscribe__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--very-dark-gray);
  margin: 0 0 0 5px;
}

.mailing-subscribe__container {
  border: 6px solid transparent;
  border-image: url(../img/post-bg.png) 6 round;
  background-color: var(--floral-white);
  background-size: 90% 90%;
  height: 210px;
  width: 550px;
  background-clip: content-box;
}

.mailing-subscribe__input-container {
  display: flex;
  margin-top: 40px;
  padding-left: 5px;
}

.mailing-subscribe__input {
  min-width: 368px;
  padding-left: 10px;
}

.mailing-subscribe__container-content {
  padding: 25px 16px 35px 20px;
}

.mailing-subscribe__button {
  font-size: 18px;
  line-height: 24px;
  width: 130px;
  height: 44px;
  margin-left: 10px;
}

.text-content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.icon-bg {
  display: block;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  background-color: var(--background-gray);
  border-radius: 50%;
  background-position: center;
}

.social-icon {
  background-position: center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 22px;
}

.icon-circle {
  background-repeat: no-repeat;
}

.icon-upper-left:before {
  content: "";
  position: relative;
  width: 24px;
  height: 24px;
  float: left;
  right: -2px;
  bottom: 10px;
  padding: 24px 10px 32px 24px;
}

.icon-circle_about {
  background-position: center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.icon-left {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 24px;
  left: -5px;
  top: 4px;
}

.i-cow:before {
  background: url(../img/icons/i-cow.svg) no-repeat;
}

.i-leaf:before  {
  background: url(../img/icons/i-leaf.svg) no-repeat;
}

.i-temp:before  {
  background: url(../img/icons/i-temp.svg) no-repeat;
}

.i-icecream:before  {
  background: url(../img/icons/i-icecream.svg) no-repeat;
}

.i-search {
  background-image: url(../img/icons/i-search.svg);
}

.i-shop {
  background-image: url(../img/icons/i-shop.svg);
}

.i-shop-red {
  background-image: url(../img/icons/i-shop-red.svg);
}

.i-login {
  background-image: url(../img/icons/i-login.svg);
}

.i-facebook {
  background-image: url(../img/icons/i-facebook.svg);
}

.i-instagram {
  background-image: url(../img/icons/i-instagram.svg);
}

.i-vk {
  background-image: url(../img/icons/i-vk.svg);
}

.i-twitter {
  background-image: url(../img/icons/i-twitter.svg);
}

.i-heart {
  background-image: url(../img/icons/i-heart.svg);
}

.i-hit {
  background-image: url(../img/icons/i-hit.svg);
}

.i-cross {
  background-image: url(../img/icons/X.png);
}

.i-pin {
  background-image: url(../img/icons/pin.svg);
}

.i-arrow-left {
  background-image: url(../img/icons/icon-left-small.svg);
}

.i-arrow-right {
  background-image: url(../img/icons/icon-right-small.svg);
  left: 16px;
}

.pagination-arrow {
  background-repeat: no-repeat;
  margin: 0;
  width: 7px;
  height: 12px;
  position: relative;
  align-self: flex-end;
}

.map__image {
  background-image: url(../img/map.png);
  width: 1200px;
  height: 430px;
  margin-top: 45px;
}

.map__feedback-form {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 62px;
  margin-bottom: 62px;
  margin-right: 27px;
  width: 303px;
  height: 306px;
  background: #fefefe;
  border-radius: 16px;
}

.map__pinner {
  position: relative;
  border-radius: 50%;
  background-repeat: no-repeat;
  padding: 80px;
  width: 80px;
  height: 140px;
  top: 198px;
  left: 227px;
  background-position: center;
}

.feedback__form-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.feedback__form-content .custom-input:nth-child(n + 1) {
  margin-bottom: 20px;
}

.feedback__form-content {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 441px;
  padding: 0 20px;
  background: #f8f7f4;
  border-radius: 6px;
}

.feedback__form_input-template {
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.feedback__form_input {
  width: 267px;
  height: 44px;
}

.feedback__form_textarea {
  width: 428px;
  height: 154px;
}

.feedback__form-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.feedback__form-content_header {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
}

.feedback__form-btn_submit {
  width: 140px;
  height: 44px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.feedback__form-btn_container {
  display: flex;
  margin: 25px 0;
  align-content: center;
  justify-content: flex-end;
}

.feedback__close-btn {
  position: relative;
  align-self: center;
  align-items: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 25px;
  height: 21px;
  margin: 0;
  padding: 0;
  border: 0;
  text-indent: -1000em;
  left: 33px;
  bottom: 5px;
}

.map__feedback-form_container {
  margin: 31px 25px;
}

.map__contacts {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.map__feedback-form-button {
  width: 253px;
  height: 43px;
  border-radius: 70px;
  margin-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.map__text-small {
  font-size: 14px;
}

.map__text-medium {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.map__text-phone {
  margin-top: 4px;
  text-decoration: none;
  color: var(--black);
}

.icon {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
  display: block;
}

.header__user-navigation_icon-hover:hover {
  background-color: var(--white);
  color: var(--black);
}

.header__user-navigation_icon-hover:hover
  > .header__user-navigation_container-text {
  color: var(--very-dark-gray);
}

.pannier__with-items {
  background-color: var(--white);
}

.pannier__with-items > .header__user-navigation_container-text {
  color: var(--black);
}

.header__user-navigation_icon-hover:hover .i-login {
  background-image: url(../img/icons/i-login-black.svg);
  background-color: var(--white);
}

.header__user-navigation_login:hover {
  background-color: var(--white);
}

.header__user-navigation_login {
  padding: 0 18px;
}

.caption__catalog-item {
  color: var(--white);
  margin: 0 0 0 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.decoration-disabled {
  text-decoration: none;
}

.raquo {
  color: var(--white);
}

.slider__container {
  height: 513px;
  position: relative;
  top: 10px;
}

.slider__toggle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 8px;
  position: absolute;
  top: 562px;
  left: 381px;
}

.slider__background-effect {
  content: "";
  right: 0;
  display: block;
  background: radial-gradient(
    circle,
    var(--white) 0%,
    var(--slider-background-gradient) 100%
  );
  background-color: var(--slider-background);
  filter: blur(250px);
  border-radius: 50%;
  left: 50px;
  top: -500px;
  width: 100%;
  height: 100%;
}

.slider__background-effect {
  overflow: auto;
  position: relative;
  z-index: -2;
}

.slider__image-container {
  display: flex;
  height: 584px;
}

.slider__interation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -880px;
  left: 7px;
}

.slider__content-text {
  width: 745px;
  color: var(--white);
  margin: 50px 5px 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider__content-button {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  width: 278px;
  margin-top: 25px;
  margin-right: 13px;
  padding: 9px 2px;
  text-align: center;
}

.slider__image {
  position: relative;
  left: 275px;
  bottom: 45px;
  z-index: -1;
}

.slider__radio {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 2px solid var(--white);
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
  transition: background-color;
}

.slider__radio:hover {
  background-color: var(--slider-hover);
}

.slider__radio-active {
  background-color: var(--white);
}

.catalog-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 27px 0 27px;
}

.catalog__image-price-container {
  position: relative;
  text-align: center;
  color: white;
  z-index: -1;
}

.catalog-container__item-price {
  font-size: 45px;
  line-height: 45px;
  color: var(--white);
  position: absolute;
  top: 165px;
  font-weight: bold;
}

.catalog-container__item-unit {
  bottom: 0;
}

.catalog-container__item-unit {
  font-size: 30px;
  line-height: 35px;
  color: var(--white);
}

.catalog-container__item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog-container__item-name {
  position: relative;
  margin-top: 8px;
  width: 267px;
  height: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.catalog-container__item {
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
}

.item-price-container {
  display: inline;
}

.catalog-container__icon-hit {
  display: flex;
  position: absolute;
  bottom: 210px;
  width: 61px;
  height: 61px;
  background-size: 34px 27px;
  background-color: var(--white);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-container__item:hover > .catalog-container__btn-show {
  display: block;
}

.catalog-container__btn-show {
  position: absolute;
  display: none;
  top: 330px;
  align-self: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 15px;
}

.catalog-container__item:hover:before {
    content: " ";
    position: absolute;
    width: 290px;
    height: 400px;
    bottom: -70px;
    left: -10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    z-index: -1;
}

.catalog-hot__container {
  text-align: center;
}

.catalog-hot__item-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 25px;
  grid-template-areas: ". . . .";
  margin-top: 2px;
}

.catalog__image-price-container > img {
  width: 267px;
  height: 267px;
}

.catalog-hot__item {
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 32px 26px;
}

.news-about-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  width: 1146px;
  height: 306px;
}

.news-subscribe-blog__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 26px;
  padding-top: 3px;
}

/* Filter */

.filter__upper-container .filter__item-container:not(:first-child) {
  margin-left: 20px;
}

.filter__sort-container .list__horizonatal-item:not(:first-child) {
  margin-left: 16px;
}

.filter__list .list__horizonatal-item:not(:first-child) {
  margin-left: 0;
}

.filter__list li:not(:first-child) {
  padding-left: 19px;
}

.filter__button-submit {
  padding: 0 25px 0 28px;
  background: var(--background-gray);
  border: 2px solid var(--white);
  color: var(--white);
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: none;
  height: 36px;
  text-align: center;
  text-decoration: none;
  margin-left: 12px;
  margin-top: 30px;
}

.filter__grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: 15px;
}

.filter__item-container {
  margin-left: 20px;
  padding: 0 0 0 10px;
}

.filter__text-inside {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
}

.filter__option_text-inside {
  background-color: var(--background-gray);
}

.filter__input-with-label-container {
  display: flex;
  flex-direction: column;
}

.filter__text-label {
  color: var(--white);
  font-size: 14px;
  line-height: 16px;
  padding-left: 16px;
}

.filter__text-label_price {
  padding: 5px 0 0 0;
}

.filter__text-label_richness {
  padding-top: 8px;
}

.filter__button-submit:hover {
  background: var(--white);
  border-radius: 20px;
  color: var(--ford-dark-charcoal);
}

.filter__button-submit:active {
  border-radius: 20px;
  border-color: var(--ford-dark-charcoal);
  color: var(--ford-dark-charcoal);
  outline: none;
  background: linear-gradient(
    180deg,
    var(--ford-dark-charcoal) 0%,
    var(--white) 10%
  );
}

.filter__price-range {
  padding: 0;
}

.filter__input-sort {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border-radius: 20px;
  width: 196px;
  height: 36px;
  line-height: 18px;
  padding-left: 16px;
  margin-top: 5px;
  color: var(--white);
  background-image: url(../img/icons/arrow-white.svg);
  background-size: 0.6em;
  background-position: 92% center;
  background-repeat: no-repeat;
  background-color: var(--background-gray);
  border: none;
}

.filter__input-sort:hover {
  background-image: url(../img/icons/arrow-black.svg);
  color: var(--ford-dark-charcoal);
}

.filter__bordered-background {
  background: var(--background-gray);
  border-radius: 20px;
}

.filter__bordered-background {
  display: inline-flex;
  align-items: center;
  height: 36px;
  padding: 0 20px 0 15px;
}

.filter__sort-container {
  padding: 2px 20px 0 15px;
  margin: 10px 0 0 0;
}

.filter__radio-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.filter__radio-checkbox + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

.filter__radio-checkbox + label:after {
  content: "";
  position: relative;
  width: 24px;
  height: 22px;
}

.filter__list {
  margin: 0;
  position: relative;
  top: 9px;
  left: -2px;
}

input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 2px;
  width: 24px;
  height: 22px;
  background-image: url(../img/icons/radio-off.svg);
  background-repeat: no-repeat;
}

input[type="radio"]:checked + label:before {
  background-image: url(../img/icons/radio-on.svg);
  background-repeat: no-repeat;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 2px;
  width: 24px;
  height: 22px;
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label:before {
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter__line-container {
  display: inline-flex;
  align-items: center;
}

/* Footer */

.footer__container {
  padding: 0 24px;
  height: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . .";
}

.footer__top-bordered {
  border-top: 1px solid var(--background-gray);
}

.footer_link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  position: relative;
}

.footer_link-bold {
  font-weight: bold;
}

.footer_text-dev {
  color: var(--white);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-right: 2px;
  margin-top: 20px;
}

.footer_link-dev {
  color: var(--white);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0 2px 0 0;
}

.footer__social-links-container {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin-top: 23px;
}

.footer__about-links-container {
  margin-top: 32px;
  padding-left: 41px;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 25px 1fr;
  grid-column-gap: 14px;
}

.footer_link-content {
  display: flex;
  flex-direction: column;
}

.footer__dev-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.footer__dev-img {
  position: relative;
  margin-top: 5px;
  top: 12px;
  left: 1px;
}

.footer__container-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__container-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon-write::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: -22px;
  top: 2px;
  background: url(../img/icons/i-heart.svg);
  background-repeat: no-repeat;
}

/* pagination */

.pagination {
  display: flex;
}

.pagination__list-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-self: flex-end;
  margin-left: 27px;
  margin-bottom: 30px;
}

.pagination__container {
  display: flex;
  justify-content: flex-end;
  margin-top: 78px;
}

.pagination .pagination__link {
  color: var(--white);
  float: left;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.pagination .pagination__arrow_inactive {
  color: var(--background-gray);
  pointer-events: none;
}

.pagination .pagination__link.pagination__link-active {
  background-color: var(--white);
  border-radius: 50%;
  color: var(--black);
}

.pagination .pagination__link:hover:not(.pagination__link-active) {
  background-color: var(--background-gray);
  border-radius: 50%;
}

/* Price slider */

.filter__doubled_slider-container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filter__price-range {
  width: 130px;
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
  background: none;
  border: none;
  -webkit-appearance: none;
}

.filter__price-range_second{
  width: 148px;
  margin-left: -100px;
}

.filter__price-range:focus {
  outline: none;
}

.filter__price-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: var(--slider-track);
}

.filter__price-range::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  margin-top: -8px;
  margin-left: -1px;
  background: var(--white);
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

.filter__price-range::-webkit-slider-thumb:hover {
  width: 22px;
  height: 22px;
  margin-top: -8px;
  margin-left: -1px;
}